@media only screen and (max-width: 767px) {
    .nav-wrapper {
        display: block;
        height: auto;
        padding: 20px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .header-first-col {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 767px) {
    .header-second-col {
        width: 100%;
        justify-content: center;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .blog-post-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 767px) {
    .blog-post-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 530px) {
    #subscription-form {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 530px) {
    input[type=text], [type=email] {
        width: 100%;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 530px) {
    input[type=submit] {
        margin-left: 0px;
        width: 100%;
        margin-top: 15px;
    }
}