.card-image {
    background-image: url("/assets/interior1.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

    .card-image.two {
        background-image: url("/assets/interior2.jpg");
    }

    .card-image.three {
        background-image: url("/assets/interior6.jpg");
    }

    .card-image.four {
        background-image: url("/assets/interior3.jpg");
    }
    .card-image.five {
        background-image: url("/assets/interior4.jpg");
    }

    .card-image.six {
        background-image: url("/assets/interior5.jpg");
    }
    

.card-content-wrapper {
    padding: 40px;
}

.card-button {
    margin-top: 20px;
    cursor: pointer;
    display: inline;
}

.card-date {
    font-style: italic;
    margin-bottom: 5px;
    font-size: 15px;
}

.footer-content-wrapper {
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.footer-link-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-items:not(:last-child) {
    margin-right: 40px;
}

#footer-legals {
    margin: 0px;
}

#subscription-form {
    margin-top: 30px;
}

input[type=text], [type=email] {
    border-radius: 0;
    border: 0px;
    padding: 10px;
}

input[type=submit] {
    background-color: #ff7f50;
    border-radius: 8px;
    border: 0px;
    color: #ffffff;
    padding: 10px 30px;
    margin-left: -5px;
}